body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
  color: white;
  padding-bottom: 150px;
}

.logo {
  font-size: 24px;
  margin-bottom: 100px;
}

.header-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
  width: 400px;
}

.header-text {
  font-size: 18px;
  color: #E5E7EB;
  line-height: 0px;
}

.header-sign-up-button {
  color: white;
  background-color: #3882F6;
  margin-top: 25px;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 10px;
  border: 0em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 20px;
  color: #E5E7EB;
  justify-content: flex-end;
}

.grey-image {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 550px;
  margin-top: 110px;
}

.body-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.body-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-top: 60px;
}

.border-image {
  border: 5px solid #3882F6;
  border-radius: 20px;
  height: 175px;
  width: 175px;
}

.body-content {
  max-width: 185px;
  text-align: center;
}

.subtext {
  font-size: 20px;
  margin-top: 10px;
  color: grey;
}

.quote-container {
  background-color: #E5E7EB;
  padding: 120px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  width: 810px;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 25px;
}