body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
  color: white;
  padding-bottom: 150px;
}

.logo {
  font-size: 24px;
  margin-bottom: 100px;
}

.header-title {
  font-size: 48px;
  font-weight: 900px;
  margin-bottom: 10px;
  width: 400px;
}

.header-text {
  font-size: 18px;
  color: #E5E7EB;
  line-height: 0px;
}

.header-sign-up-button {
  color: white;
  background-color: #3882F6;
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 10px;
  border: 0em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 20px;
  color: #E5E7EB;
  justify-content: flex-end;
}

.grey-image {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 550px;
  margin-top: 110px;
}