body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto Thin', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

p {
    margin: 0px;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  padding: 10px 30px;
  margin-top: 10px
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header-links {
  display: flex;
  font-size: 18px;
  gap: 50px;
}

.header-logo,
.header-links {
  padding: 20px 0px
}

.header-main-text {
  font-size: 50px;
  font-weight: bold;
}

.header-subtext {
  font-size: 20px;
  width: 500px;
}

.header-image {
  height: 300px;
  width: 520px;
  border: 1px solid white;
}

.header-texts {
  color: white;
}

.header-texts,
.header-image {
  margin: 80px 0 100px;
}

.information-header-text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 60px;
  color: #1F2937;
}

.information-header-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.information-header-content {
  margin-top: 60px;
  max-width: 300px;
}

.information-header-subtext {
  color: #1F2937;
}

.nintendo,
.pc,
.playstation,
.xbox {
  border: 2px solid black;
}

.quote-container {
  background-color: #E5E7EB;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  width: 800px;
  padding: 120px;
}

.quote-speaker {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: bold;
  color: #1F2937;
}

.button-container {
  background-color: #3882F6;
  margin: 90px 160px;
  padding: 60px 120px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
}

.button-content {
  color: white;
  font-size: 25px;
}

.button-main-text {
  font-weight: bold;
}

.sign-up-text {
  font-size: 15px;
  font-weight: bold;
  padding: 0px 40px;
}